body {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 70px;
    margin-bottom: 30px;
}

h2 {
    margin-top: 50px;
}

h3 {
    margin-top: 35px;
    margin-left: 40px;
    font-size: medium;
}

button {
    margin-left: 30px;
    margin-top: 20px;
}

/* Trouwenkaarten foto rij */
.trouwKaartenFoto {
    display: flex;
    flex-direction: row;
}

.trouwKaartenFoto img {
    max-width: 31%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Kaarten met verschillende stijlen */
.kaartStijlen {
    text-align: center;
    padding: 0 280px 15px 280px;
}

.kaartStijlen ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.kaartStijlen li {
    padding: 40px;
    border-radius: 50%;
    border-style: solid;
    background-color: #F2E0C9;
    margin: 20px;
}

/* Toevoeginen voor bij de bruiloft */
.bruiloftToevoegingen {
    background-color: #F2E0C9;
    width: 100%;
    height: 500px;
}

.bruiloftToevoegingen h2 {
    padding: 30px 0 0 0;
}

.bruiloftToevoegingen ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 50px;
}

.bruiloftToevoegingen li {
    padding: 10px;
    background-color: whitesmoke;
    margin-left: 150px;
}

.bruiloftToevoegingenFoto {
    display: flex;
    flex-direction: row;
    margin-left: 160px;
}

.bruiloftToevoegingenFoto img {
    height: 300px;
    width: 230px;
    display: block;
    padding: 20px 20px 0 20px;
}

.kaartOntwerpen p {
    text-align: center;
    margin-bottom: 30px;
}

.kaartOntwerpen img {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    width: 45%;
}

.kaartInformatie {
    margin: 0 0 0 800px;
}

.knop_partnerNamen p {
    background-color: #F2E0C9;
    padding: 8px 15px;
    margin-right: 650px;
    border-radius: 10px;
}

.knop_partnerNamen p:hover {
    background-color: black;
    color: whitesmoke;
}

.kaart {
    width: 600px;
    height: 400px;
    border: 2px solid;
    background-color: white;
    margin-left: 100px;
    float:left; 
}

.kaartelementenAanpassen ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 100px;
}

.kaartelementenAanpassen li {
    padding: 20px;
    background-color: whitesmoke;
    margin-right: 20px;
    border-radius: 60px;
    border: 1px solid;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;
    margin: 100px 50px 20px 50px;
}

h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: larger;
    text-align: center;
    margin: 0 50px 0 50px;
}

.kaartelementenAanpassen p {
    margin: 35px 0 0 45px;
    font-weight: 700;
    font-size: larger;
    color: #005C53;
}

.kaartelementenAanpassen input {
    margin-left: 10px;
}

.kaartelementenAanpassen label {
    margin-left: 40px;
}

.kaart p {
    margin-top: 100px;
}

.reviewContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 250px;
    gap: 20px;
}

.review {
    background-color: #F2E0C9;
    padding: 20px;
    border-radius: 10px solid;
    width: 300px;
    text-align: center;
}

.reviewHeader {
    background-color: whitesmoke;
    padding: 1px;
    text-align: center;
}

.reviewHeader p {
    align-items: center;
    font-size: larger;
    margin: 10px;
}

.kaartInformatieContainer {
    display: flex;
    flex-direction: column;
}

.kaartInformatie {
    margin-left: 100px;
}
